<div id="shopify-section-header" class="shopify-section">

{% include 'search-drawer' %}

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
 
  
  
     <div id="announcement_bar" class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement_bar_label' | t }}">
         
      </div>
  
  <header class="site-header border-bottom logo--left" role="banner">
    <div class="grid grid--no-gutters grid--table site-header__mobile-nav">
       
        {%- assign logo_classes = 'medium-up--one-quarter logo-align--left' -%}
      
	  <div class="before_logo">
        <button type="button" class="btn--link site-header__icon site-header__menu js-mobile-nav-toggle mobile-nav--open" aria-controls="MobileNav"  aria-expanded="false" aria-label="{{ 'layout.navigation.menu' | t }}">
              <img class="hanburger_show" src="{{ 'mobile_menu.png' | asset_url }}" alt="hanburger"/>
              {% comment %}
               {% include 'icon-hamburger' %} 
               {% include 'icon-close' %}
              {% endcomment %}
          
            <img class="hanburger_close" src="{{ 'close.png' | asset_url }}" alt="hanburger"/>
          
            </button>
        
      </div> 
   
      <div class="grid__item {{ logo_classes }}">
         
          <div class="h2 site-header__logo">
         
            <a id="site-header__logo" href="https://{{ request.host }}" class="site-header__logo-image">
             
              <img class="logo_shop js lazy "  data-src="{{  'logo.png' | asset_url  }}"  alt="{{ logo_alt | escape }}"  >
              
            </a>
            
          </div>
          
      </div>

        <nav class="grid__item medium-up--one-half small--hide" id="AccessibleNav" role="navigation">
           <ul id="menu_list" class="site-nav mega_menu_top list--inline" id="SiteNav">
          </ul>
        </nav>
     

      <div class="grid__item  medium-up--one-quarter  text-right site-header__icons{% if shop.customer_accounts_enabled %} site-header__icons--plus{% endif %}">
        <div class="site-header__icons-wrapper">

          <button type="button" class="btn--link site-header__icon site-header__search-toggle js-drawer-open-top">
             
            <img src="{{'search.png' | asset_url}}" alt="image">
            <span class="icon__fallback-text">{{ 'layout.navigation.search' | t }}</span>
          </button>
			
          
            {% if customer %}
          
              <a href="https://{{ request.host }}/account" class="desktop site-header__icon site-header__account"> 
                <img src="{{ 'login.png' | asset_url }}" alt="login"/>
                <span class="icon__fallback-text">{{ 'layout.customer.account' | t }}</span>
              </a>
            {% else %}
              <a href="https://{{ request.host }}/account/login" class="desktop site-header__icon site-header__account"> 
                <img src="{{ 'login.png' | asset_url }}" alt="login"/>
                <span class="icon__fallback-text">{{ 'layout.customer.log_in' | t }}</span>
              </a>
            {% endif %}
       

          <a href="#" class="site-header__icon site-header__cart">
            
            <img src="{{ 'shop.png' | asset_url }}" alt="cart"/>
            <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
            <div id="CartCount" class="site-header__cart-count{% if cart.item_count == 0 %} hide{% endif %}" data-cart-count-bubble>
              <span data-cart-count>{{ cart.item_count }}</span>
              <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
            </div>
          </a>
 
        </div>

      </div>
    </div>

    <nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
      <ul id="MobileNav" class="mobile-nav">
         
      </ul>
      <ul>
         <li class="mobile-nav__item ">
           <a href="https://{{ request.host }}/account" class="mobile-nav__link"><span class="mobile-nav__label">
           {% if customer %}
          	  My Account
           {% else %}
                Login
            {% endif %}
             </span></a>
        </li>
      </ul>
    </nav>
  </header>

  
</div>


  {% comment %}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>
  {% endcomment %}

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "Nyumi",
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
  
  <script type="application/ld+json">
     { "@context": "https://schema.org",
     "@type": "Organization",
     "name": "Nyumi",
     "legalName" : "Ikaria Wellness Pvt Ltd",
     "url": "https://nyumi.com/",
     "logo": "https://cdn.shopify.com/s/files/1/0412/3027/0631/t/1/assets/logo.png?v=845613955905552972",
     "founders": 
     {
     "@type": "Person",
     "name": "Ananya Kejriwal"
     },
     "address": {
     "@type": "PostalAddress",
     "streetAddress": "Ikaria Wellness Pvt Ltd, 412-B, The Capital, Bandra Kurla Complex",
     "addressLocality": "Mumbai",
     "addressRegion": "MH",
     "postalCode": "400051",
     "addressCountry": "IN"
     },
     "contactPoint": {
     "@type": "ContactPoint",
     "contactType": "customer support",
     "telephone": "+918291155181",
     "email": "hello@nyumi.com"
     },
     "sameAs": [ 
     "https://www.facebook.com/hellonyumi",
     "https://www.instagram.com/hellonyumi/",
     "https://twitter.com/hellonyumi"
     ]}
</script>

  
{% endif %}
  
</div>