<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
>
<style>
  .review-card {
    text-align: center;
    border-radius: 16px;
    border: 1px solid #e4e4e4;
    padding: 2rem;
    width: 85%;
    margin: 0 auto;
  }

  .review-card > img {
    width: 65%;
  }

  .user-name {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0px;
  }

  .review-star {
    display: flex;
    gap: 2px;
    margin-bottom: 0.5rem;

  }
  .review-star > img {
    height: 15px;
    width: 15px;
  }
  .review-date {
    text-align: left;
    font-size: 14px;
  }

  .review-tile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .review-tile > img {
    width:35%;
  }
  .review-text-wrapper {
    text-align: left;
    font-size: 12px;
  }
  .review-text-wrapper h3 {
      margin-bottom: 0.5rem !important;
  }
  .review-text-wrapper p{
      margin-bottom: 0.5rem !important;
  }

  .product-reviews-section {
    margin-top: 5rem;
  }

   .swiper-pagination5 .swiper-pagination-bullet-active {
    background: #F37168 !important;
  }

  .swiper-button-next5 {
    position: absolute;
    right: 16%;
    top: 20%;
  }

  .swiper-button-prev5 {
    position: absolute;
    left: 16%;
    top: 20%;
  }

  .swiper-pagination5  {
    position: absolute;
    left: 42% !important;
  }

  .carousel_container-cr {
    position: relative;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
  }
</style>
<div class="product-reviews-section" style="display: block; padding-top: 1rem;">
  <img src="{{ "red-heart.png" | asset_url }}" alt="heart" class="section-icon">
  <h2 class="section_heading">we heart reviews</h2>
  <p class="section_subheading">It tells us how you’re doing and that’s always good to hear.</p>
</div>
<div class="customer-revoew">
  <!-- <div class="page-width"> -->
  <div class="carousel_container-cr">
    <div class="swiper5">
      <div class="swiper-pagination5"></div>
      <div class="swiper-button-prev5">
        <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/CompositeLayer.svg?v=1683834188">
      </div>
      <div class="swiper-button-next5">
        <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/CompositeLayer_1.svg?v=1683834187">
      </div>
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="review-card">
              <img src="{{ block.settings.product_image | img_url: '300x' }}" alt="">
              <div class="review-tile">
                <img src="{{ block.settings.user_image | img_url: '300x' }}" alt="">
                <div class="review-info">
                  <p class="user-name">
                    {{ block.settings.name }}
                  </p>
                  <div class="review-star">
                    {% if block.settings.review > 5 %}
                      <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_8_26770da3-20d2-41e3-9a1c-2baeafea0a3f.png?v=1684933264" alt="">
                      <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_8_26770da3-20d2-41e3-9a1c-2baeafea0a3f.png?v=1684933264" alt="">
                      <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_8_26770da3-20d2-41e3-9a1c-2baeafea0a3f.png?v=1684933264" alt="">
                      <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_8_26770da3-20d2-41e3-9a1c-2baeafea0a3f.png?v=1684933264" alt="">
                      <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_8_26770da3-20d2-41e3-9a1c-2baeafea0a3f.png?v=1684933264" alt="">
                      {% else %}
                    {% for index in (1..block.settings.review) %}
                    <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_8_26770da3-20d2-41e3-9a1c-2baeafea0a3f.png?v=1684933264" alt="">
                      {% endfor %}
                      {% endif %}
                  </div>
                  <p class="review-date">
                    {{ block.settings.review_date }}
                  </p>
                </div>
              </div>
              <div class="review-text-wrapper">
                {{ block.settings.description }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- </div> -->
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script>
    const swiper5 = new Swiper('.swiper5', {
    // Optional parameters
    direction: 'horizontal',
    loop: false,

  // If we need pagination
    pagination: {
      el: '.swiper-pagination5',
    },
       // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next5',
      prevEl: '.swiper-button-prev5',
    },
  breakpoints: {
    // when window width is >= 768px
    768: {
      slidesPerView: 3
    }
  }


  });
</script>

{% schema %}
 {
  "name": "CustomerReview",

  "blocks": [
    {
      "name": "Slide",
      "type": "slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Product image"
        },
        {
          "type": "image_picker",
          "id": "user_image",
          "label": "User image"
        },
        {
          "type": "number",
          "id": "review",
          "label": "Star review"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Slide_description"
        },
        {
          "type": "text",
          "id": "name",
          "label": "User_name"
        } ,
        {
          "type": "text",
          "id": "review_date",
          "label": "Review Date"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Review",
      "settings": {}
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
