<div class="faq_banner flx">
  <div class="half">
    <div class="leftpd banner_text">
      <div class="product_breadcrumbs">
        <a href="https://{{ request.host }}">
          Home 
        </a>/ FAQ
      </div>
      {% if section.settings.upper_title != blank %}
      <div class="small_text cm_title comcol">        
        {{ section.settings.upper_title }}        
      </div>
      {% endif %}
      {% if section.settings.lower_title != blank %}
      <h1 class="banner_heading top_heading">        
        {{ section.settings.lower_title }}        
      </h1>
      {% endif %}
    </div>
  </div>
  <div class="half">
    {% if section.settings.banner_image != blank %}
    <img src="{{section.settings.banner_image | img_url:"master"}}" alt="{{ section.settings.banner_image.alt }}">
    {% else %}
    <img src="//images.ctfassets.net/537ig19c198x/4YIhLYXhz63MIQsOgrMMIW/643d84151d67a06af6379d7ada7e7327/FAQ_1140x560.png" alt="image">
    {% endif %}    
  </div>
</div>

{% schema %}
  {
    "name": "Faq Banner",
    "settings": [
		{
          "type": "text",
          "id": "upper_title",
          "label": "Upper Title",
          "default": "got doubts?"
        },
		{
          "type": "text",
          "id": "lower_title",
          "label": "Lower Title",
          "default": "get answers."
        },        
		{
          "type":"image_picker",
          "id":"banner_image",
          "label":"Banner Image"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}