{% comment %} <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"> {% endcomment %}

<style>
  
  html {
    scroll-behavior: smooth;
}
form{
  min-width:80%;
}
#wc_product_review_badgeId1 .wc_icon_color svg path, .review_rating_section svg path, .wc_icon_color svg{
  fill:#E04098 !important;
}
  #wc_product_review_badgeId2 .wc_icon_color svg path, .review_rating_section svg path, .wc_icon_color svg{
  fill:#3AC3E2 !important;
}
  #wc_product_review_badgeId3 .wc_icon_color svg path, .review_rating_section svg path, .wc_icon_color svg{
  fill:#FDC63D !important;
}
#shopify-section-summer-product1 {
  background: #FFF4EF;
  padding-top: 1rem;
}
  .all-products {
        display: flex;
    justify-content: space-around;
    padding: 3rem 1rem;
    background: #FFF4EF;
    flex-direction:column;
  }
.reviews {
    display: flex;
    align-items: center;
  color:#fff;
/*     justify-content: center; */
/*     padding: 5px; */
}

.reviews p {
    margin: 0;
  color:#fff;
}

.reviews p.line {
    margin: 0 0.3rem;
}

.reviews p.sold_unit {
    font-size: 16px;sold_unit
    font-family: 'manropes';
}

div.wc_review_badge_wrap {
    display: flex;
}

.wc_product_review_badge .wc_review_badge_inner {
    width: unset;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
}

.sold_unit {
    padding-top: 2px;
}

.slick-dots li {
    height: 3px !important;
    width: 3px !important;
}
.slick-dots button {
    padding: 4px !important;
}

.wc_product_review_badge .wc_review_badge_inner .wc_product_review_title {
    padding-left: 0;
    font-size: 16px;
    margin-top: 0;
}
.product-price {
      font-size: 28px;
    margin: 0.5rem 0;
    margin-bottom: 0;
  font-family: "Corbenr";
  color:#fff;
  font-weight:normal;
}
.product-price span {
      font-size: 24px;
}
#product1-carousel {
    width:100%;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.16 ));
    height: 100%;
    margin: 0 auto;
    background: white;
    margin-top: 0;
    display:flex;
}
.product-sale-details{
  width:50%;
  padding:1rem;
}
.product-images{
  width:50%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:2.5rem 1rem;
}
#product1-carousel .product-images img {
/*     padding-top: 60px; */
    max-height: 550px;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

#product1-carousel h2 {
    font-family: "corbenr";
    font-size: 28px;
    font-weight: normal;
    line-height: 26px;
    font-style: normal;
    text-align: left;
    color: #fff;
    padding-top: 35px;
    text-transform: lowercase;
}

.wc_product_review_badge {
    width: auto;
    text-align: center;
    font-size: 26px;
    font-family: "manropes";


}
h2.clinically {
  font-family: 'manropeb' !important;
/*     color: black !important; */
    font-size: 28px !important;
    width: 100%;
    margin: 0 auto;
    text-transform: inherit !important;
}


#product1-carousel .slick-dots {
    padding-top: 80px;
}

#product1-carousel .slick-dots li button {
    /*                 box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); */
    border-radius: 50%;
}

#product1-carousel .slick-dots li button {
    width: 5px;
    height: 5px;
    /*       margin: 0 1px; */
    background-color: #ffcccc;


}

#product1-carousel .slick-dots li.slick-active button {
    background-color: #f37168;
    box-shadow: none;
}






.product-features {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 15px;
}

.feature-column {
    margin-right: 80px;
}

.feature-column:last-child {
    margin-right: 0;
}

.feature-column ul {
    margin: 0;
    padding: 0;
}

.feature-column li {

    margin-bottom: 10px;
    font-family: "manropes";
    font-size: 24px;
    line-height: 1.5;
    color: #333;
}

.feature-column li:before {

    color: #f37168;

}


.feature-column li:before {
    content: "\2022";
    color: #f37168;
    margin-right: 10px;
}


form {
    margin-top: 25px;
}

button.pink-btn{
  color:white;
}
.add-to-cart-btn {
    font-size: 24px;
    font-weight: 500;
    color: black;
    border: none;
    display: block;
    margin: 0 auto;
    padding: 0.5rem 0.7rem;
    font-family: 'corbenr';
    text-transform: lowercase;
    border-radius: 20px;
    background: #f37168;
    width:100%;
}
.clinically_proven {
      display: flex;
  flex-direction:column;
    justify-content: space-between;
    align-items: baseline;
  width: 100%;
  margin: 2rem auto;
  gap:0.5rem;
}
.clinically_proven .key1 img,
  .clinically_proven .key2 img,
  .clinically_proven .key3 img {
    width: 6rem !important;
  }
.clinically_proven .key1 p,
  .clinically_proven .key2 p,
  .clinically_proven .key3 p {
    font-size:20px;
    color:#fff;
    line-height:24px;
    margin:0;
  }
  .clinically_proven .key1 h2,
  .clinically_proven .key2 h2,
  .clinically_proven .key3 h2 {
    font-size:32px !important;
    color:#3AC3E2 !important;
    font-weight:600 !important;
    line-height:36px !important;
    padding-top:0 !important;
    margin:unset;
    min-width:80px;
  }
.wc_product_review_text {
  display: none;
}



/* Media queries for mobile devices */
@media screen and (max-width: 767px) {
    #product1-carousel {
        max-width: 100%;
        margin-top: 0;
        margin-bottom: 0;
    }
    .all-products {
      flex-direction: column;
      padding: 2rem 0rem;
    }
    #product1-carousel .slick-dots li button {
        margin: 0 0.5px;
    }

    #product1-carousel .product-images img {
        padding-top: 30px;
        max-height: 260px;
    }

    #product1-carousel h2 {
        font-size: 20px;
        padding-top: 30px;
    }

    .wc_product_review_badge {
        padding-right: 0;

    }

    .feature-column {
        margin-right: 50px;
    }

    .add-to-cart-btn {
        width: 90%;
    }

    #product1-carousel form {
        margin-bottom: 15px;
    }

    .product-features {
        padding: 0 5px;
        /*               padding-left: 30px; */


    }
  .clinically_proven .key1 img,
    .clinically_proven .key2 img,
    .clinically_proven .key3 img {
      width: 4rem !important;
    }
  .clinically_proven {
    width: 100% !important;
    margin: 0 auto;
  }
  .clinically_proven p {
    font-size:12px;
  }
  form {
    margin-top: 15px !important;
}
  h2.clinically {
        width: 100%;
    font-size: 14px !important;
  }
  .features-product {
    margin-top: 5px !important;
  }
  #product1-carousel h2 {
        padding-top: 5px !important;
  }
}


@media screen and (max-width: 550px) {

.product-sale-details{
  width:50%;
  padding:1rem 0.5rem;
}
  .product-images{
  width:50%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem 0.5rem;
}
  .clinically_proven .key1 img,
  .clinically_proven .key2 img,
  .clinically_proven .key3 img {
    width: 6rem !important;
  }
.clinically_proven .key1 p,
  .clinically_proven .key2 p,
  .clinically_proven .key3 p {
    font-size:11px;
    line-height:16px;
    margin-left:-5px;
  }
  .clinically_proven .key1 h2,
  .clinically_proven .key2 h2,
  .clinically_proven .key3 h2 {
    font-size:16px !important;
    line-height:18px !important;
    min-width:40px;
  }
  .product-price {
      font-size: 18px;
    margin: 0;
    margin-bottom: 0;
    font-family: "Corbenr";
    color:#fff;
/*     font-weight:600; */
  }
  .product-price span {
        font-size: 14px !important;
  }
    .reviews p.sold_unit {
        font-size: 10px;
    }

    .wc_product_review_badge .wc_review_badge_inner .wc_product_review_title {
        font-size: 10px;
      padding-top: 3px;
    }

    .wc_product_review_badge {
        width: auto;
    }
  
    #product1-carousel .wc_icon_color svg path, .review_rating_section svg path, .wc_icon_color svg path{
      fill:E04098 !important;
    }
    .wc_review_badge_wrap .wc_icon_color svg,
    #wc_review_section .wc_review_badge_wrap .wc_icon_color svg {
        width: 56px !important;
    }

    #product1-carousel .slick-dots {
        padding-top: 45px;
    }

    #product1-carousel h2 {
        padding-top: 15px;
        font-size: 16px;
        margin: 5px 0;
        letter-spacing: inherit;
        font-weight: normal;
    }

    .feature-column li {
        display: block;
        margin-bottom: 10px;
        font-family: "manrope";
        font-size: 12px;
        line-height: 1.5;
        color: black;
        font-weight: 500;
    }

    .add-to-cart-btn {
        font-size: 16px;
        font-family: "manrope";
        font-weight: 500;
        color: black;
        border: none;
        display: block;
        letter-spacing: inherit;
        margin: 0 auto;
        width: 100%;
        padding: 5px;
        line-height: 1.5;
        text-transform: lowercase;
        border-radius: 20px;
        background: #f37168;
    }

    .feature-box-img {
        height: 45px;
        width: 45px;
        margin: 0 auto;
    }

    .wc_product_review_title {
        padding-top: 2px;
    }

    .wc_product_review_text {
        display: none;
    }


    .features-product {
        width: 100% !important;
    }

    .feature-txt {
        font-size: 12px;
    }
  .key-line{
      color:#fff;
      font-size:18px;
    }
  
}
.key-line{
      color:#fff;
      font-size:32px;
    }
.features-product {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
}

.feature-box-img {
    height: 55px;
    width: 55px;

    margin: 0 auto;
}

.feature-box-img img {
    height: 90%
}

.feature-txt {
    margin-top: 10px;
}

 
  }
 .product-price {
        text-align: center;
    font-family: "Corbenr";
    font-size: 24px;
    font-weight: normal;
    line-height: 16px;
    font-style: normal;
    margin: 10px 10px;
    /* text-align: left; */
    color: #FFF;
  }

  .product-price span {
    opacity: 0.70;
    font-family: "Corbenr";
    font-size: 20px;
    font-weight: normal;
    line-height: 16px;
    font-style: normal;
    text-align: left;
    color: #707070;
    text-decoration: line-through;
    margin-left:0.5rem;
}

  .benefit-title {
        font-family: "Corben";
    font-size: 24px;
    font-weight: normal;
    line-height: 0px;
    font-style: normal;
    text-align: center;
    color: #000000;
}
  }

  .pd_icon_section {
    background-color: white;
  }
  .product-price {
    text-align:left;
  }

  .key1 , .key2 , .key3 {
    display:flex;
    gap:0.5rem;
    align-items:center;
  }
  #product1-details{
    background-color:#48C0B5;
  }
  #product2-details{
    background-color:#484795;
  }
  #product3-details{
    background-color:#f37168;
  }
 
  .product-sale-details h2{
    letter-spacing:0rem !important;
  }
  @media screen and (max-width: 375px) and (min-width: 300px){
#product1-carousel h2 {
  font-size: 12px!important;
}
  }
h2.white-clinically{
  color:white!important;
}
</style>
<div class="all-products">
  {% for product in collections['quiz-questionare'].products %}
    {% if product.id == 6092022481063 %}
    <div id="product1-carousel">
      <div class="product-sale-details" id="product1-details">
      <h2>{{ product.title }}</h2>
      <p class="product-price"> {{ product.price | money_without_trailing_zeros }} <span>{{ product.compare_at_price | money_without_trailing_zeros }}</span> </p>
      <div class="reviews">
        <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}" id="wc_product_review_badgeId1"></div>
        <p class="line"> | </p>
        <p class="sold_unit">107 reviews</p>
      </div>

<!--       <div class="features-product">
        <div class="feature-box"> 
        <div class="feature-box-img">
        <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_23_26389f47-89f3-4c8e-ba9e-ab85910d234a.png?v=1667480266" ></div>
          <div class="feature-txt" >Reduces Hairfall</div>
            
        </div>
        <div class="feature-box"> 
          <div class="feature-box-img">
        <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_26_7b9561a3-473b-4c92-b4dd-b10fb92acd3a.png?v=1667480285"></div>
          <div class="feature-txt" >Delays Grey Hair</div>
            
        </div>
        <div class="feature-box"> 
          <div class="feature-box-img"> 
        <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_28_789fbf8e-b0ec-40ea-b09a-911a8c0f4664.png?v=1667480250" ></div>
          <div class="feature-txt" >Nourished Hair</div>
            
        </div>
      </div> -->
    
      <h2 class="clinically" style="color:#000;">Clinically proven results</h2>
      <div class="clinically_proven">
    <div class="key1">
      <h2 style="color:#E04098 !important;">74%</h2>
      <p class="key-line"> | </p>
  <p>reduction in hair fall</p>
    </div>
    <div class="key2">
  <h2 style="color:#E04098 !important;">98%</h2> 
      <p class="key-line"> | </p>
      <p>increase in hair growth</p>
    </div>
    <div class="key3">
  <h2 style="color:#E04098 !important;">93%</h2>
      <p class="key-line"> | </p>
      <p>enhanced hair volume</p>
    </div>
  </div>
      </div>
      <div id="add_to_cart" class="product-images">
        <img class="0" src="{{ product.featured_image | img_url: '' }}">
        <form action="/cart/add" method="post">
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
          <button type="submit" class="add-to-cart-btn pink-btn" style="background:#E04098;">Add to Cart</button>
        </form>
      </div>
    </div>
    {% endif %}

  {% if product.id == 6094251163815 %}
    <div id="product1-carousel">
    
      <div class="product-sale-details" id="product2-details">
      <h2>{{ product.title }}</h2>
      <p class="product-price"> {{ product.price | money_without_trailing_zeros }} <span>{{ product.compare_at_price | money_without_trailing_zeros }}</span> </p>
      <div class="reviews">
        <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}" id="wc_product_review_badgeId2"></div>
        <p class="line"> | </p>
        <p class="sold_unit">107 reviews</p>
      </div>

<!--   <div class="features-product">
    <div class="feature-box"> 
    <div class="feature-box-img">
    <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_6.png?v=1649820463" ></div>
      <div class="feature-txt" >Ensures Sound Sleep</div>
        
    </div>
    <div class="feature-box"> 
      <div class="feature-box-img">
    <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_7.png?v=1649820537"></div>
      <div class="feature-txt" >Relaxes Mind</div>
        
    </div>
    <div class="feature-box"> 
      <div class="feature-box-img"> 
    <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/Group_8.png?v=1649820990" ></div>
      <div class="feature-txt" >Reduces Stress</div>
        
    </div>
  </div> -->

  <h2 class="clinically white-clinically" style="color:#000;">Clinically proven results</h2>
      <div class="clinically_proven">
    <div class="key1">
      <h2 style="color:#3AC3E2 !important">94%</h2>
      <p class="key-line"> | </p>
  <p>slept longer and deeper</p>
    </div>
    <div class="key2">
  <h2 style="color:#3AC3E2 !important">93%</h2> 
      <p class="key-line"> | </p>
      <p>reduction in stress</p>
    </div>
    <div class="key3">
  <h2 style="color:#3AC3E2 !important">200%</h2>
      <p class="key-line"> | </p>
      <p>increase in skin glow</p>
    </div>
  </div>
</div>
      <div id="add_to_cart" class="product-images">
      <img class="0" src="{{ product.featured_image | img_url: '' }}">
      <form action="/cart/add" method="post">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <button type="submit" class="add-to-cart-btn" style="background:#3AC3E2">Add to Cart</button>
      </form>
      </div>
    </div>
  {% endif %}

  {% if product.id == 6091784978599 %}
    <div id="product1-carousel">
       <div id="add_to_cart" class="product-images">
        <img class="0" src="{{ product.featured_image | img_url: '' }}">
      <form action="/cart/add" method="post">
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <button type="submit" class="add-to-cart-btn" style="background:#FDC63D">Add to Cart</button>
      </form>
      </div>
      <div class="product-sale-details" id="product3-details">
      <h2>{{ product.title }}</h2>
      <p class="product-price"> {{ product.price | money_without_trailing_zeros }} <span>{{ product.compare_at_price | money_without_trailing_zeros }}</span> </p>
      <div class="reviews">
        <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}" id="wc_product_review_badgeId3"></div>
        <p class="line"> | </p>
        <p class="sold_unit">107 reviews</p>
      </div>

<!--   <div class="features-product">
    <div class="feature-box"> 
    <div class="feature-box-img">
    <img src="https://images.ctfassets.net/537ig19c198x/54kne6Ve3WvMKtWe3BR1Qy/7169e3fe7ba296593148ecaceda235fc/Group_22.png" ></div>
      <div class="feature-txt" >Builds Collagen</div>
        
    </div>
    <div class="feature-box"> 
      <div class="feature-box-img">
    <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/skin_benefit_icon_reduces_wrinkles.png?v=1649248251"></div>
      <div class="feature-txt" >Reduces Wrinkles</div>
        
    </div>
    <div class="feature-box"> 
      <div class="feature-box-img"> 
    <img src="https://cdn.shopify.com/s/files/1/0412/3027/0631/files/skin_benefit_icon_nourishing_skin.png?v=1649821082" ></div>
      <div class="feature-txt" >Nourished Skin</div>
        
    </div>
  </div> -->

  <h2 class="clinically" style="color:#000;">Clinically proven results</h2>
      <div class="clinically_proven">
    <div class="key1">
      <h2 style="color:#FDC63D !important">259%</h2>
      <p class="key-line"> | </p>
  <p>increase in glow</p>
    </div>
        
    <div class="key2">
  <h2 style="color:#FDC63D !important">77%</h2> 
      <p class="key-line"> | </p>
      <p>reduction in wrinkles</p>
    </div>
    <div class="key3">
  <h2 style="color:#FDC63D !important">56%</h2>
      <p class="key-line"> | </p>
      <p>pigmentation reduction</p>
    </div>
  </div>
      </div>
     
    </div>
  {% endif %}
  {% endfor %}
</div>
<!-- <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
 -->
<script>
  $(document).ready(function(){
    // $('#product1-carousel .product-images').slick({
    //   arrows: false,
    //   dots: true,
    //   infinite: true,
    //   speed: 300,
    //   slidesToShow: 1,
    //   centerMode: true,
    //   swipe: true,
    //   variableWidth: true
    // });
  });
</script>
